{% extends "main/base.html" %}

{% block content %}
<h1>Contact Us</h1>
<section id="contact">
    <h2>Contact</h2>
    <p>
        Email:
        <a href="mailto:patarcic.emanuel@gmail.com">patarcic.emanuel@gmail.com</a><br />
        Mobile: <a href="tel:+381641851346">+381641851346</a>
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2766.2239215734317!2d19.735349499999998!3d46.1064449!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47436178e3e05e63%3A0x73dfb3f44105533a!2z0KDQsNC00LDQvdC-0LLQsNGH0LrQsCA0LCBQYWxpxIc!5e0!3m2!1sen!2srs!4v1739824262997!5m2!1sen!2srs" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
{% endblock %}
